body {
    font-family: "Matemasie", sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("https://mateussilvafreitas.github.io/capybara_game/background-web.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 768px) {
    body {
        background-image: url('https://mateussilvafreitas.github.io/capybara_game/background-mobile.jpg');
    }
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;   
    width: 60%; 
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
    background: linear-gradient(135deg, #f5e8c0, #d4b07f);
    display: none;
    text-align: center;
    font-size: 25px;
    transition: opacity 1s ease, transform 1s ease;
    max-width: 450px;
}

.card.show {
    display: block;
    opacity: 1;
    transform: translate(-50%, -50%) translateY(0);
}

.card.animate {
    transform: translate(-50%, -60%);
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.1;
    z-index: 0;
}

.card-content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: #4b2c0c;
}

.card-title {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-image img {
    width: 100%;
    max-width: 150px;
    max-height: 150px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 2px solid #4b2c0c;
}

.card-description {
    font-size: 0.5em;
    line-height: 1.5;
}

.arrow-container {
    position: absolute;
    bottom: 10px;
    display: flex;
    gap: 100px;
}

.arrow-button {
    width: 80px;
    height: 80px;
    background-color: rgba(255, 165, 0, 0.2); /* Light orange semi-transparent background */
    border-radius: 50%;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-button::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    position: absolute;
}

.right-arrow::after {
    border-width: 15px 0 15px 25px;
    border-left-color: orange;
}

.up-arrow::after {
    border-width: 0 15px 25px 15px;
    border-bottom-color: orange;
}

.left-arrow::after {
    border-width: 15px 25px 15px 0;
    border-right-color: orange;
}

#container-end {
    position: absolute;
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
    background: linear-gradient(135deg, #f5e8c0, #d4b07f);
    text-align: center;
    font-size: 25px;
    transition: opacity 1s ease, transform 1s ease;
    display: none;
}
.info-end {
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.btn-restart {
    margin-top: 50px;
    padding: 10px 20px;
    font-size: 25px;
    color: #fff;
    background: linear-gradient(135deg, #eeb405c4, #eea135);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-restart:hover {
    background-color: #0056b3;
}